:root {
    --bol-white: #FFFFFF;
    --bol-grey: #F6F8F9;
    --bol-blu: #7CC6F6;
    --bol-check-green: #64C0A9;
    --bol-check-red: #EB5952;
    --bol-violet: #9C72E4;
    --bol-green: #64C0A9;
    --bol-orange: #F29E33;
    --bol-pink: #D863A1;
    --bol-light-green: #B0C926;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    background-color: grey;
}

/* header */
header {
    background-color: var(--bol-white);
}

.logo_header {
    vertical-align: middle;
}

#span_header {
    font-size: 2rem;
    vertical-align: middle;
}
/* /header */

/* main */
main {
    background-color: var(--bol-white);
    margin: 100px
}

.badge {
    display: inline-block;
    color: var(--bol-white);
    background-color: var(--bol-blu);
    border-radius: 4%;
    width: 80px;
    text-align: center;
}

.blu {
    background-color: var(--bol-blu);
}

.violet {
    background-color: var(--bol-violet);
}

.pink {
    background-color: var(--bol-pink);
}

.orange {
    background-color: var(--bol-orange);
}

.light-green {
    background-color: var(--bol-light-green);
}

.green {
    background-color: var(--bol-green);
}
/* /main */

