/* #region Common*/
:root {
    --bol-grey: #F6F8F9;
    --bol-blu: #7CC6F6;
    --bol-check-green: #64C0A9;
    --bol-check-red: #EB5952;
    --bol-violet: #9C72E4;
    --bol-green: #64C0A9;
    --bol-orange: #F29E33;
    --bol-pink: #D863A1;
    --bol-light-green: #B0C926;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    background-color: var(--bol-grey);
    font-family: 'Arial',  sans-serif;
}

h1 {
    display: inline-block;
}

p {
    padding: 0.75rem 0;
    font-size: 1.25rem;
}

i {
    font-size: 1.25rem;
}
/* #endregion Common*/

/* #region Body */
.logo {
    background-color: white;
    padding: 0.75rem 1rem;
}

.logo_img {
    vertical-align: middle;
    height: 4rem;
}

.logo_text {
    font-size: 3rem;
    vertical-align: middle;
}

/* ################################### */

.wrapper {
    background-color: white;
    width: 80%;
    margin: 2rem auto 0 auto;
}

.p_left_3 {
    padding-left: 3rem;
}

.my_btn {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(234, 227, 227, 0.822);
}

.my_btn span {
    padding: 0.5rem 0.5rem;
    border-radius: 0.4rem;
    font-size: 1rem;
}

.add_task {
    background-color: var(--bol-blu);
    color: white;
    border: 0;
}

.add_section {
    background-color: white;
    color: rgba(207, 200, 200, 0.963);
    border: 1px solid rgba(207, 200, 200, 0.963);
}

/* ################################### */

.manage {
    padding-top: 1.5rem;
}

.check {
    border: 1px solid var(--bol-check-green);
    border-radius: 50%;
    width: 50px;
    aspect-ratio: 1 / 1;
    color: var(--bol-check-green);
}

.badge {
    color: white;
    padding: 0.5rem 0.75rem;
    border-radius: 0.95rem;
    font-size: 0.90rem;
}

.blu {
    background-color: var(--bol-blu);
}

.violet {
    background-color: var(--bol-violet);
}

.pink {
    background-color: var(--bol-pink);
}

.orange {
    background-color: var(--bol-orange);
}

.light-green {
    background-color: var(--bol-light-green);
}

.green {
    background-color: var(--bol-green);
}

.my_check {
    color: var(--bol-check-green);
}

.my_xmark {
    color: var(--bol-check-red);
}

.manage:last-child {
    padding-bottom: 3rem;
}
/* #endregion Body */

